<!-- <h1>Hola mundo de {{nombre  | titlecase}}</h1> -->
<!-- <button pButton (click)="mostrarNombre()" icon="pi pi-bell" iconPos="right" class="p-button-help" label="Cambiar nombre"></button> -->
<!-- <p></p> -->
<!-- <p-card subheader="Subtitulo" [header]="nombre | titlecase" [style]="{'width': '25rem', 'margin-bottom': '2em'}">
    Lorem ipsum dolor, sit amet consectetur adipisicing elit. 
    Animi doloremque deleniti perferendis maxime unde autem illo, 
    exercitationem blanditiis eius aperiam corrupti, consequuntur dolore. 
    Ex impedit distinctio consequatur eaque, quisquam corrupti?
</p-card> -->
<app-menu></app-menu>
<router-outlet></router-outlet>